<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="nav-bar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="works.html">Works</a></li>
            <li><a href="gallery.html">Gallery</a></li>
        </ul>
    </nav>
    <main>
        <h1> Chimamanda Ngozi Adichie </h1>
        <div class="div-home">
        <img src="images/adichie.webp" alt="Picture of Chimamanda Adichie" id="adichie-img">
        <p id="home-p">Chimamanda Ngozi Adichie is a renowned Nigerian author, celebrated for her insightful and powerful storytelling that bridges cultures and continents. 
            Born in Enugu, Nigeria, she has captivated global audiences with her critically acclaimed works, including Half of a Yellow Sun, Americanah, and Purple Hibiscus. 
            Her writing, characterized by its compelling characters and thought-provoking themes, explores the complexities of identity, feminism, and social justice.
        <br>
            Adichie's work transcends traditional narratives, offering a fresh perspective on contemporary issues while honoring her Nigerian heritage. 
            She is not only a prolific writer but also an influential public speaker, known for her TED Talks, 
            The Danger of a Single Story and We Should All Be Feminists, which have sparked global conversations about culture, gender, and equality.
            <br>
            Join us in celebrating the life and works of Chimamanda Adichie, a voice of her generation and a beacon of literary brilliance.</p>
    </div>
    </main>
    <script src="js/script.js"></script>
</body>
</html>