<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <ul class="nav-bar">
            <li class="other-page current-page"><a href="index.html">Home</a></li>
            <li class="other-page current-page"><a href="about.html">About</a></li>
            <li class="other-page current-page"><a href="works.html">Works</a></li>
            <li class="other-page current-page"><a href="gallery.html">Gallery</a></li>
        </ul>
    </nav>
    <main>
        <h1> Welcome to the world of  </h1>
        <div class="first-row">
            <div class="image-container">
                <img src="images/adichie.webp" alt="Picture of Chimamanda Adichie" >
            </div>
            <div class="first-p"> 
                <p class="first-intro">Chimamanda</p>
            </div>
        </div>
        <div class="second-row">
            <div class="image-container">
                <img src="images/books.jpg" alt="picture of chimamandas work">
            </div>
            <div class="image-container">
                <img class="img-rect" src="images/speech.jpeg" alt="chimamanda gives speech">
            </div>
            <div> 
                <p class="second-intro">Adichie</p>
            </div>
        </div>
    </main>
    <header>
        <h1></h1>
    </header>
    <script src="js/script.js"></script>
</body>
</html>