<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="nav-bar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="works.html">Works</a></li>
            <li><a href="gallery.html">Gallery</a></li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <div class="item">
                <img src="images/america.jpeg" alt="Image 1">
                <p>Americanah is a 2013 novel by the Nigerian author Chimamanda Ngozi Adichie, for which Adichie won the 2013 U.S. National Book Critics Circle Award for fiction. Americanah tells the story of a young Nigerian woman, Ifemelu, who immigrates to the United States to attend university.</p>
            </div>
            <div class="item">
                <img src="images/half.jpeg" alt="Image 2">
                <p>Half of a Yellow Sun is a novel by Nigerian author Chimamanda Ngozi Adichie. Published in 2006 by 4th Estate in London, the novel tells the story of the Biafran War through the perspective of the characters Olanna, Ugwu, and Richard. It received critical acclaim and won the Women's Prize for Fiction in 2007.</p>
            </div>
            <div class="item">
                <img src="images/sleeping.jpeg" alt="Image 3">
                <p>The first children's book from the best-selling author of We Should All Be Feminists and Americanah—a tender story about a little girl’s love for her mother’s scarf, and the adventures she shares with it and her whole family

                    Chino loves the scarf that her mama ties around her hair at night. But when Mama leaves for the day, what happens to her scarf? Chino takes it on endless adventures! Peeking through the colorful haze of the silky scarf, Chino and her toy bunny can look at her whole family as they go through their routines. </p>
            </div>
            <div class="item">
                <img src="images/purple.jpeg" alt="Image 4">
                <p>Growing up in a wealthy Nigerian home under the domain of a harsh, demanding, and tyrannical father, Kambili and her brother, Jaja, find new happiness during a visit to their Aunty Ifeoma outside the city, but as Kambili enjoys her newfound freedom and falls in love for the first time, the country begins to fall apart under a military coup. A first novel. Reader's Guide available. Reprint. 30,000 first printing.</p>
            </div>
            <div class="item">
                <img src="images/iji.jpeg" alt="Image 6">
                <p>Dear Ijeawele, or A Feminist Manifesto in Fifteen Suggestions is an epistolary form manifesto written by Nigerian author Chimamanda Ngozi Adichie. Dear Ijeawele was posted on her official Facebook page on October 12, 2016, was subsequently adapted into a book, and published in print on March 7, 2017.</p>
            </div>
        </div>
    
    </main>
    <script src="js/script.js"></script>
</body>
</html>